BOT_TOKEN = ""

OWNER_ID = 597929714707071006

REFRESH_INTERVAL_SECONDS = 7

REQUEST_TIMEOUT_SECONDS = 15
USER_AGENT = "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36"

USE_PROXIES = True
PROXY_ROTATION_SECONDS = 120

MAX_CONCURRENT_REQUESTS = 8

DATA_DIR = "data"

EMBED_COLOR_HEX = 0xe51649
